name: Terraform CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  plan:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - run: terraform init -input=false
        working-directory: env/dev
      - run: terraform workspace select dev || terraform workspace new dev
        working-directory: env/dev
      - run: terraform plan -no-color
        working-directory: env/dev

  apply:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production   #  require manual approval in GitHub
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - run: terraform init -input=false
        working-directory: env/dev
      - run: terraform workspace select dev || terraform workspace new dev
        working-directory: env/dev
      - run: terraform apply -auto-approve
        working-directory: env/dev